
<div class="profile-container customInput">

    <h1>User Profile</h1>
    <div class="profile-info">
        <!-- <div class="profile-picture">
            <img src="profile-picture.jpg" alt="Profile Picture">
        </div> -->
        <div class="profile-details">
            <p><strong>Name:</strong>{{userDetail.name}}</p>
            <p><strong>Email:</strong>{{userDetail.email}}</p>
            <p><strong>Streak:</strong>{{streak}}</p>
        </div>
    </div>
</div>
<div class="profile-container customInput margin1UnitVertical">
    <a href="javascript:void()" (click)="logout()">Logout</a>
    
</div>
