
body {
    font-family: 'Urbanist', sans-serif;

    color: var(--c-text-primary);
}

:root {
    --c-text-primary: #1E293B;
    --c-text-secondary: #64748B;
    --c-action-primary: #12764B;
    --c-action-secondary: #288C5A;
    --c-action-tertiary: #50B482;
    --c-bg-primary: #F9F9F6;
    --c-bg-secondary: #dafdf5;
    --c-box-shadow: #B9C2D1;
}

h1 {
    color: var(--c-action-primary);
    border-bottom: 2px solid var(--c-text-primary);
    padding-bottom: 10px;
}

h2 {
    color: var(--c-action-primary);
    margin-top: 20px;
}

p, ul {
    color: var(--c-text-secondary);
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px;
    border: 2px solid var(--c-text-primary);
    background-color: transparent;
}
