<div class="main-container">
  <div [innerHTML]="question().prompt"></div>
  @if (question().userSubmitted) {
    <p class="colourPrimary" style="font-size: small;"><i class="ph ph-info"></i>This is a User Submitted Question</p>
  }
  <form>
      <div class="radio-highlight">
        @for (choice of question()?.choices; track index; let index = $index) {

            <input type="radio" [value]="choice.index" [(ngModel)]="answer" [id]="index" name="answers"/> 
            @if (choice.type == 'latex') {
                <label  [for]="index" [latexString]="choice.text"></label>
            } @else {
                <label [for]="index" [innerHTML]="choice.text"></label>
            }
        }
        
      </div>
  </form>
  <div >
    <button   class="mediumButton customInput centerHorizontal margin1UnitVertical borderPrimary" (click)="checkAnswer()">Check</button>
  </div>

  <div style="display:flex; flex-direction:column; height:5dvh; position:fixed; max-width: 2.5em; justify-content: end; bottom: 0; right: 0; margin: 1.5em;">
    <button class="customInput actionButtonSecondary"  (click)="showCalculator()"><i class="ph ph-calculator"></i></button>
</div>

</div>


