

<header>
    <h1><i class="ph-fill ph-rocket-launch" style="color: orange;"></i> Ace Your NEET with Free Practice Tests!</h1>
    <p>Dive into targeted practice and conquer the exam with our comprehensive, free resources. No stress, just success!</p>
</header>

<main>
    <section id="features">
        <h2><i class="ph-fill ph-fire" style="color: #FFB347;"></i> Why Our NEET Practice Tests Rock:</h2>
        <ul>
            <li><i class="ph-bold ph-money" style="color: var(--c-action-primary);"></i>&nbsp; <strong>Totally Free:</strong> Zero hidden fees, just pure learning!</li>
            <li><i class="ph-bold ph-books" style="color: #D81B60;"></i>&nbsp; <strong>Syllabus Supercharged:</strong> Covers every topic, so you're always prepared.</li>
            <li><i class="ph-bold ph-question" style="color: #FFC107;"></i> &nbsp;<strong>Extensive Question Bank:</strong> Practice with a wide range of NEET-level questions.</li>
            <li><i class="ph-bold ph-pencil-ruler" style="color: #4CAF50;"></i>&nbsp; <strong>Focused Practice:</strong> Sharpen your skills with targeted question sets.</li>
            <li><i class="ph-bold ph-users" style="color: #9C27B0;"></i>&nbsp; <strong>Collaborative Question Submissions:</strong> Contribute and learn from user-submitted questions.</li>
            <li><i class="ph-bold ph-hand-waving" style="color: #009688;"></i>&nbsp; <strong>Community Learning:</strong> Engage with peers and improve together.</li>
        </ul>
    </section>

    <section id="get-started">
        <h2>Ready to Level Up? <i class="ph-bold ph-chart-line-up" style="color: var(--c-action-primary);"></i> Start Practicing Now!</h2>
        <p>Your NEET adventure begins here! Click below and unlock your potential with our free practice tests.</p>
        <a href="/learn" class="cta-button">Start Practicing! &nbsp;<i class="ph-fill ph-rocket-launch" style="color: orange;"></i> </a>
    </section>

    <section id="about">
        <h2>About NEET: Your Gateway to Medicine <i class="ph-bold ph-stethoscope" style="color: var(--c-action-primary);"></i></h2>
        <p>NEET is your first step to becoming a doctor in India. We're here to support you with free, effective practice tests to help you achieve your medical dreams.</p>
    </section>
</main>

<footer>
    <p><a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a></p>
    <p>An Open Source project by <a href="https://github.com/tathagatamukherjee044"> <i class="ph-duotone ph-github-logo"></i>tathagata.mukherjee044</a> </p>
</footer>
