<div >
  <!-- Iterate over the quiz items -->
    <!-- Back button -->
    <button style="margin-top: 1em;" (click)="goBack()">&#8592;</button>
    <button style="margin-top: 1em;" (click)="updateTime()">&#8594;</button>

    <!-- Show login alert button -->
    <button (click)="showLoginAlert()" class="btn-primary">CLICK</button>

    <button (click)="showDialog()" class="btn-primary">Show Dialog</button>

    <button (click)="reloadPage()" class="btn-primary">Reload</button>

    <i class="ph ph-bank"></i>


    <i class="ph-fill ph-heart" style="color: hotpink"></i>

    <div class="progress-bar">
      <div class="progress danger" [style.width.%]="(heartCount / 3) * 100"></div>
    </div>
    

    <div class="progress-bar">
        <div class="progress success" [style.width.%]="(score / fullScore) * 100"></div>
    </div>

    <!-- Loading state -->
    @if (loading) { 
      loading...
    } @else {
      <app-quiz-item [question]="currentQuiz" (questionComplete)="onQuestionComplete($event)"></app-quiz-item>

    }
    
</div>
