<div class="content">
  <!-- Iterate over the quiz items -->
    <!-- Back button -->
    <button style="margin-top: 1em;" (click)="goBack()">&#8592; Back</button>

    <!-- Show login alert button -->
    <button (click)="showLoginAlert()">CLICK</button>

    <!-- Loading state -->
    @if (loading) { 
      <div class="card-content">
        <h1>
          <div class="skeleton-text" style="width: 80%;"></div>
        </h1>
        <div class="radio-group">
          <div class="radio-item">
            <div class="skeleton-text" style="width: 80%;"></div>
          </div>
          <div class="radio-item">
            <div class="skeleton-text" style="width: 80%;"></div>
          </div>
        </div>
        <button>
          <div class="skeleton-text" style="width: 80%;">Check</div>
        </button>
      </div>
    } @else {
      <app-quiz-item [question]="currentQuiz" (questionComplete)="onQuestionComplete($event)"></app-quiz-item>

    }
    
</div>

<style>
  .skeleton-text {
    background-color: #e0e0e0;
    height: 1em;
    display: inline-block;
    animation: shimmer 1.5s infinite;
  }

  @keyframes shimmer {
    0% { background-position: -200px 0; }
    100% { background-position: 200px 0; }
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .radio-item {
    display: flex;
    align-items: center;
  }
</style>
