.reelsContainer {
    /* background: pink; */

    height: 80vh;
    width: 100vw;
    margin-top: 4em;
    display: flex;
    overflow: auto;
    gap: 2em;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}

.reelsContainer::-webkit-scrollbar {
    display: none;
}


.reel  {
    max-height: 50vh;
    min-width: 100vw;
    background-color: red;
    scroll-snap-align: start;
}