

<main class="content fullscreen">
  <header class="header">
    <div style="display: flex;flex-direction: column;">
      <h1 class="header-logo">cramm.in</h1>
      <a href="https://github.com/tathagatamukherjee044" style="font-size: 1em;"> <i class="ph-duotone ph-github-logo"></i>tathagata.mukherjee044</a>
    </div>
		<div class="header-content">
      <i class="ph-duotone ph-fire" style="color: rgb(255, 179, 0);font-size: 2em;"></i> {{userData.streak}}
		</div>
	</header>
    <router-outlet></router-outlet>

      <div class="tabs">
        @for (item of menuItems; track $index) {
          <li class="tab">
            <button class="tab-btn" [ngClass]="{'tab-btn--active': router.url==item.link}" (click)="route(item.link)">
              <i [class]="item.icon"></i>
              <span>{{item.display}}</span>
            </button>
          </li>
            <!-- <ion-icon [name]="item.icon" (click)="route(item.link)" style="color: rebeccapurple;"></ion-icon> -->
        }
      </div>
</main>




