@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*, *:after, *:before {
	box-sizing: border-box;
}

:root {
    --c-text-primary: #1E293B; /* Darker text for white background */
    --c-text-secondary: #64748B; /* Slightly lighter secondary text */

	//green
	--c-action-primary: #12764B; /* Your primary green */
	--c-action-secondary: #288C5A; /* A slightly lighter version */
	--c-action-tertiary: #50B482; /* An even lighter, more subtle version */
    --c-bg-primary: #F9F9F6; /* Light gray for contrast */
    --c-bg-secondary: #dafdf5; /* Very light gray for subtle distinction */
	--c-box-shadow: #323232;
	--c-bg-search: #F0F4F5;
	--c-color-success: #28a745;
	--c-color-danger: #dc3545;
	--c-color-warning: #ffc107;
}

body {
  padding: 1rem;
  font-family: "Urbanist";
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--c-bg-primary);
//   background: radial-gradient(circle at 25% 25%, #a3b1c6 15%, transparent 15%),
//     radial-gradient(circle at 75% 75%, #a3b1c6 15%, transparent 15%);
//   background-size: 10px 10px;
  color: var(--c-text-primary);
  display: flex;
  flex-direction: column;
}

a, a:visited, a:active {
	color: var(--c-action-tertiary);
	:hover {
		color: var(--c--primary);
	}
  }

.earmark-app {
  padding: 1.5rem;
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--c-bg-primary);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  flex: 1;
}

input, select, button, textarea {
	min-width: 100%;
	font: inherit;
	color: inherit;
	outline: 0;
}

img {
	display: block;
	max-width: 100%;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.header-logo {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-search {
  display: flex;
  position: relative;
}

.search-field {
  border-radius: 99em;
  background-color: var(--c-bg-search);
  border: none;
  padding-left: 2.75rem;
  height: 3rem;
  width: 250px;
  transition: width 0.3s ease;
}

.search-btn {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
}


.header-avatar {
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
		margin-left: 1rem;

}

.header-avatar-img {	
	display: block;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-image: url("https://assets.codepen.io/285131/user-avatar.jpg");
	background-position: 50% 50%;
	background-size: cover; 
	background-repeat: no-repeat;
}

.header-avatar-name {
	margin-left: .75rem;
}

.main {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
}



.nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--c-bg-primary);
  border-top: 1px solid var(--c-bg-primary);
  padding: 1rem;
  justify-content: space-around;
  // box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.tabs {
	position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tab {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.tab-btn {
	color: var(--c-text-primary);
	background-color: var(--c-bg-primary);
	border: none;
	padding: .75rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
	width: 100%;
	font-weight: 500;
	i {
		// margin-right: .75rem;
		font-size: 1.25em;
		color: var(--c-text-primary);
	}
	&--active, &:hover {
		i {
			// margin-right: .75rem;
			font-size: 1.25em;
			color: var(--c-action-primary);
		}
		color: var(--c-action-primary);
		border-radius: 5px;
		border: 2px solid var(--c-text-primary);
		background-color: var(--c-bg-primary);
		box-shadow: 4px 4px var(--c-box-shadow);
		
	}
	
	&--active {
		font-weight: 600;
	}
}

.radio-highlight {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 5px;
  	border: 2px solid var(--c-text-primary);
  	background-color: var(--c-bg-primary);
  	box-shadow: 4px 4px var(--c-box-shadow);
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
      background-color: #f9f9f9;
    }
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      background-color: var(--c-action-tertiary);
      color: #fff;
      border-color: var(--c-text-primary);
    }
  }
}


.main-content {
  background-color: #EEE;
  padding: 1rem;
  border-radius: 8px;
}
.content-header {
	display: flex;
}

.content-header-inner {
	flex: 1;
}

.content-header-title {
	font-size: 2.5rem;
	font-weight: 700;
	font-family: "Lora", sans-serif;
	line-height: 1.125;
	small {
		display: block;
		font-weight: 400;
		font-family: "Space Mono", monospace;
		font-size: .875em;
		color: var(--c-action-secondary);
		margin-top: .5em;
	}
}

.content-header-info {
	margin-top: 1.5rem;
	font-weight: 600;
}

.link {
	color: var(--c-action-tertiary);
	text-decoration:none;
	box-shadow: 0 1px 0 currentcolor;
	font-weight: 600;
			i {
			display: inline-block;
			margin-left: .25rem;
		}
	&:hover, &:focus {
		box-shadow: 0 3px 0 currentcolor;

	}
}

.content-header-illustration {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	margin-top: -2rem;
	img {
		max-width: 400px;
		max-height: 300px;
	}
}

.overview {
	border: 1px solid #dedede;
	border-radius: 8px;
	min-height: 100px;
	padding: 2rem;
	&+& {
		margin-top: 3rem;
	}
}

.overview-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.overview-header-title {
	font-size: 1.25rem;
	font-weight: 700;
	span {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: .75em;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		color: var(--c-text-secondary);
		background-color: var(--c-bg-primary);
		margin-left: .5rem;
	}
}

.summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
	margin-top: 1.5rem;
	color: var(--c-text-secondary);
}

.summary-amount {
	font-family: "Space Mono", monospace;
}

.progress-bar {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  height: 20px; /* Adjust height as needed */
  border-radius: 5px;
  border: 2px solid var(--c-text-primary);
  background-color: var(--c-bg-primary);
  box-shadow: 4px 4px var(--c-box-shadow);
  overflow: hidden; /* Ensures progress stays within the bar */
  position: relative;
}

.progress {
  height: 100%; /* Fills the height of the bar */
  transition: width 0.3s ease; /* Smooth width transition */
}


.blurBackdrop {
	--s: 1000px; /* control the size */

	--_g: #0000 90deg, #366 0;
	background: conic-gradient(from 90deg at 2px 2px, var(--_g)),
	  conic-gradient(from 90deg at 1px 1px, var(--_g));
	background-size: var(--s) var(--s), calc(var(--s) / 5) calc(var(--s) / 5);
  
	background-color:var(--c-bg-primary);
	// backdrop-filter: blur(20px);
	// backdrop-filter: blur(5px);
}

.message-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    border :2px solid var(--c-text-primary);
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background-color: var(--c-bg-primary);
    border-radius: 8px;
    box-shadow: 4px 4px var(--c-box-shadow);
    z-index: 1000;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .message-dialog-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  



.overview-footer {
	display: flex;
	justify-content: center;
	padding-top: 1.25rem;
}

.profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	max-width: 600px;
	margin: 0 auto;
  }

  
.customInput {
  border-radius: 5px;
  border: 2px solid var(--c-text-primary);
  background-color: var(--c-bg-primary);
  box-shadow: 4px 4px var(--c-box-shadow);
  font-size: 17px;
  font-weight: 600;
  color: var(--c-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.customInput:focus {
  border-color: var(--c-action-primary);
  background-color: #f9f9f9;
}

.customInput:active {
  box-shadow: 0px 0px var(--c-text-primary);
  transform: translate(3px, 3px);
}

//alignments

.centreVetical {
	display: flex;
	align-items: center;
}

.centerHorizontal {
	margin-left: auto;
	margin-right: auto;
}

.margin1UnitVertical {
	margin-top: 1em;
	margin-bottom: 1em;
}

.margin1UnitHorizontal {
	margin-left: 1em;
	margin-right: 1em;
}

.mediumButton {
	width: 120px;
	height: 40px;
}

.actionButton {
	background-color: var(--c-action-tertiary)!important;
}

.actionButtonSecondary {
	background-color: var(--c-action-secondary)!important;
}

.actionButtonDanger {
	background-color: var(--c-color-danger) !important;
}

//styles
.backgroundSuccess {
	background-color: var(--c-color-success); /* Bootstrap success green */
}
  
.backgroundDanger {
background-color:  var(--c-color-danger);; /* Bootstrap danger red */
}
  
.backgroundWarning {
background-color: var(--c-color-warning); /* Bootstrap warning yellow */
}

.colorSuccess {
	color: var(--c-color-success); /* Bootstrap success green */
}

.colorDanger {
	color: var(--c-color-danger); /* Bootstrap danger red */
}

.colorWarning {
	color: var(--c-color-warning); /* Bootstrap warning yellow */
}

.colourPrimary {
	color: var(--c-action-primary);
}

.borderPrimary {
	border: 2px solid var(--c-action-primary);
}


@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }
}