
<!-- <form #sellerForm="ngForm" (ngSubmit)="onSubmit()" > -->
<ion-content>
         <ion-list>
       <ion-item>
         <ion-input label="phone" [(ngModel)]="user.phoneNumber"  placeholder="Enter phone"></ion-input>
       </ion-item>
   
       <ion-item>
         <ion-input label="Password"  [(ngModel)]="user.password" placeholder="Enter password"></ion-input>
       </ion-item>
       <ion-item>
          <ion-button type="ngSubmit" (click)="onSubmit()"> Button here</ion-button>
       </ion-item>
       <ion-button (click)="loginWithGoogle()"><ion-icon name="logo-google" style="color: whitesmoke;"></ion-icon> Login wiht google</ion-button>
       <ion-item>
          <a (click)="goTo('/auth/signup')">No Account?</a>
       </ion-item>
       <ion-icon name="logo-google"></ion-icon>
       <ion-icon name="add-outline"></ion-icon>
   </ion-list>
</ion-content>

 <!-- </form> -->
 