.minimal-dialog {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 10px;
    border: 2px solid var(--c-text-primary);
    box-shadow: 4px 4px var(--c-box-shadow);
  }

  .close-button {
    position: absolute;
    cursor: pointer;
    font-size: 2em;
    border: none;
    background: none;
  }
  
  