<div class="main-container">
  <div class="question" [innerHTML]="question().prompt"></div>
  <form>
      <div class="radio-highlight">
        @for (choice of question()?.choices; track index; let index = $index) {

            <input type="radio" [value]="choice.index" [(ngModel)]="answer" [id]="index" name="answers"/> 
            @if (choice.type == 'latex') {
                <label  [for]="index" [latexString]="choice.text"></label>
            } @else {
                <label [for]="index" [innerHTML]="choice.text"></label>
            }
        }
        
      </div>
  </form>
  <div >
    <button   class="customButton" (click)="checkAnswer()">Check</button>
  </div>
</div>


