<div >

  <div style="width: 2.5em;">

    <button style="margin-top: 1em;" class="customInput actionButton" (click)="goBack()"><i class="ph-duotone ph-arrow-u-down-left"></i></button>
  </div>



    <div class="progress-bar">
      <div class="progress backgroundDanger" [style.width.%]="(heartCount / 3) * 100"></div>
    </div>
    

    <div class="progress-bar">
        <div class="progress backgroundSuccess" [style.width.%]="(score / fullScore) * 100"></div>
    </div>

    <!-- Loading state -->
    @if (loading) { 
      loading...
    } @else {
      <app-quiz-item [question]="currentQuiz" (questionComplete)="onQuestionComplete($event)"></app-quiz-item>

    }
    <button (click)="showQuestionAcceptanceModal()">Show modal</button>
    
</div>
